body {
  width: 100vw;
  margin: 0 auto;
  background: rgb(92, 0, 0);
}

.arena {
  cursor: crosshair;
  background: rgb(218, 2, 2);
  position: relative;
  margin: 2% auto;
  width: 900px;
  height: 600px;
}