* {
  -moz-user-select: none;
  overflow: hidden;
  user-select: none;
}


body {
  width: 100vw;
  margin: 0 auto;
  background: rgb(92, 0, 0);
}

.arena {
  cursor: crosshair;
  background: rgba(85, 2, 218, 0.438);
  position: relative;
  margin: 2% auto;
  width: 900px;
  height: 600px;
}

.enemy {
  position: absolute;
  display: inline-block;
}

.hud {
  padding: 2rem;
  display: inline-block;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.crosshairs {
  background: rgb(253, 255, 113);
  position: absolute;
  padding: 4px;
  border-radius: 50%;
}